<!-- About section starts -->
<section id="about" class="container-fluid">
    <div class="photo-container col-lg-4 hidden-sm hidden-xs divider-background p-l-n">
        <div class="background-image-holder">
            <img class="aboutLogo" src="css/assets/images/CDRlogo.png" alt="" style="">
        </div>
    </div>
    <div class="row">
        <div class="container">
            <div class="col-lg-7 col-md-7 col-sm-12 col-xs-12 history pull-right">
            <h2>Welcome To Casa Del Rio!</h2>
            <h3>Authentic Sonoran style Mexican cuisine served up fresh, every day, guaranteed!</h3>
            <p>There's nothing complicated about Casa-Del-Rio Mexican Restaurant. Simply great Mexican food, great service, and great value. These are our commitments to you! We do not serve precooked, frozen, microwaved or vender-prepared items – everything we do is prepared and served up fresh every day, for an authentic Sonoran style Mexican cuisine experience. </p>
            <h3>Dine-In, Take-Out, & Catering Services</h3>
            <p>No matter how you want to enjoy Casa-Del-Rio Mexican Restaurant, we can make it happen! Call and ask about any of our services today!
            <h3>Our Specialties Include:</h3>
            <p>Chimichangas (the best in Tucson), fajitas, chile rellenos, green and red chile con carne, and Tucson's best fresh salsa made daily!</p>
        </div>
        </div>
    </div>
</section> <!-- About section starts -->
<!-- Template plugins -->
<!-- <script src="js/main.js"></script> -->