<!-- About section starts -->
<section id="about" class="container-fluid">
    <div class="photo-container col-lg-4 hidden-sm hidden-xs divider-background p-l-n">
        <div class="background-image-holder">
            <img src="css/assets/images/chef-lead.jpg" alt="" style="">
        </div>
    </div>
    <div class="row">
        <div class="container">
            <div class="col-lg-7 col-md-7 col-sm-12 col-xs-12 history pull-right">
            <h2>About us</h2>
            <h3>We create delecious memories</h3>
            <p>Non vel adipiscing placerat sit eu etiam in ut nunc pid ac enim turpis placerat, et lorem porta, elementum et lorem placerat placerat, aliquam! Dolor? Et, hac turpis a et! Enim rhoncus adipiscing porttitor dolor sed, placerat turpis elementum placerat, turpis. </p>
            <p>Aenean commodo ligula eget dolor aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec quam felis, ultricies nec, pellentesque eu, pretium quis, sem. Nulla consequat massa quis enim. Donec vitae sapien ut libero venenatis faucibus. Nullam quis ante. Etiam sit amet orci eget eros faucibus tincidunt.</p>
        </div>
        </div>
    </div>
</section> <!-- About section starts -->
<!-- Prasto plugins -->
<script src="js/main.js"></script>