<!-- Gallery section starts -->
<section id="gallery" class="gallery">
    <h2>Gallery</h2>
    <div class="flex-images">
        <figure class="item" data-w="400" data-h="267">
            <a href="./images/gallery/large/1.jpg">
                <img src="./images/gallery/thumb/1.jpg" alt="" title="Image title 1" />
            </a>
        </figure>
        <figure class="item" data-w="267" data-h="400">
            <a href="./images/gallery/large/2.jpg">
                <img src="./images/gallery/thumb/2.jpg" alt="" title="Image title 2" />
            </a>
        </figure>
        <figure class="item" data-w="267" data-h="400">
            <a href="./images/gallery/large/3.jpg">
                <img src="./images/gallery/thumb/3.jpg" alt="" title="Image title 3" />
            </a>
        </figure>
        <figure class="item" data-w="400" data-h="300">
            <a href="./images/gallery/large/4.jpg">
                <img src="./images/gallery/thumb/4.jpg" alt="" title="Image title 4" />
            </a>
        </figure>
        <figure class="item" data-w="300" data-h="350">
            <a href="./images/gallery/large/5.jpg">
                <img src="./images/gallery/thumb/5.jpg" alt="" title="Image title 5" />
            </a>
        </figure>
        <figure class="item" data-w="400" data-h="300">
            <a href="./images/gallery/large/6.jpg">
                <img src="./images/gallery/thumb/6.jpg" alt="" title="Image title 6" />
            </a>
        </figure>
        <figure class="item" data-w="267" data-h="400">
            <a href="./images/gallery/large/7.jpg">
                <img src="./images/gallery/thumb/7.jpg" alt="" title="Image title 7" />
            </a>
        </figure>
        <figure class="item" data-w="400" data-h="267">
            <a href="./images/gallery/large/8.jpg">
                <img src="./images/gallery/thumb/8.jpg" alt="" title="Image title 8" />
            </a>
        </figure>
        <figure class="item" data-w="400" data-h="267">
            <a href="./images/gallery/large/9.jpg">
                <img src="./images/gallery/thumb/9.jpg" alt="" title="Image title 9" />
            </a>
        </figure>
    </div>
</section> 
<!-- Gallery section ends -->

<!-- Jquery library -->
<script src="js/vendor/jquery-1.11.2.min.js"></script>

<!-- Preloader -->
<script type="text/javascript">
    //<![CDATA[
        $(window).load(function() { // makes sure the whole site is loaded
            $('#status').fadeOut(); // will first fade out the loading animation
            $('#preloader').delay(350).fadeOut('slow'); // will fade out the white DIV that covers the website.
            $('body').delay(350).css({'overflow':'visible'});
        })
    //]]>
</script> 

<!-- Bootstrap (Framework) -->
<script src="js/vendor/bootstrap.min.js"></script>

<!-- Lightbox -->
<script src="js/simplelightbox/simple-lightbox.min.js"></script>

<!-- Prasto plugins -->
<script src="js/main.js"></script>

<!-- End Document