<!-- Our Menu section starts -->
<section id="our-menu">
    <div class="container" data-ng-app="casaApp">
        <h2>Our Menu</h2>                  
        <div class="menu-table">
            <!-- Menu tabs -->
            <div ng-controller="OurMenuController">
            <ul class="nav nav-tabs  menu-tabs" role="tablist">
                <li class="active">
                    <a href="#appetizers" ng-change="change()" ng-model="bigData.appetizers" aria-controls="appetizers" role="tab" data-toggle="tab" class="icon icon-home"><span>Sopa-Ensaladas-Botanas</span></a>
                </li>
                <li>
                    <a href="#pastas" n g-change="change()"ng-model="bigData.pastas" aria-controls="pastas" role="tab" data-toggle="tab">Especialidades Mexicanas</a>
                </li>
                <li>
                    <a href="#pizza" ng-change="change()" ng-mdoel="bigData.pizza" aria-controls="pizza" role="tab" data-toggle="tab">Chimichangas</a>
                </li>
                <li>
                    <a href="#entrees" ng-change="change()" ng-model="bigData.entrees" aria-controls="entrees" role="tab" data-toggle="tab">Fajitas</a>
                </li>
                <li>
                    <a href="#desserts" ng-change="change()" ng-model="bigData.desserts" aria-controls="desserts" role="tab" data-toggle="tab">Pollo Borracha</a>
                </li>
            </ul>

            <!-- Menu Tab panes -->
            <div class="tab-content">
                <div class="tab-pane active fade in" id="appetizers">
                    <div class="row">
                        <div class="menu-group">
                            <div class="menu-group-item clearfix col-lg-6 col-md-6 col-sm-12">
                                <div class="col-md-3 col-lg-3 col-sm-3 hidden-xs">
                                    <img src="css/assets/images/item1.jpg" alt="" class="img-circle">
                                </div>
                                <div class="col-md-7 col-lg-7 col-sm-7 col-xs-9">
                                    <span class="menu-title">Crispy Risotto Balls</span>
                                    <span class="menu-descp">mozzarella, Grana Padano, herb aioli, marinara</span>
                                </div>
                                <div class="col-md-2 col-lg-2 col-sm-2 col-xs-3">
                                    <span class="menu-item-price">
                                        $ 34
                                    </span>
                                </div>
                            </div>

                            <div class="menu-group-item clearfix col-lg-6 col-md-6 col-sm-12">
                                <div class="col-md-3 col-lg-3 col-sm-3 hidden-xs">
                                    <img src="css/assets/images/item2.jpg" alt="" class="img-circle">
                                </div>
                                <div class="col-md-7 col-lg-7 col-sm-7 col-xs-9">
                                    <span class="menu-title">Minestrone Soup</span>
                                    <span class="menu-descp">cranberry beans, vegetables, Grana Padano</span>
                                </div>
                                <div class="col-md-2 col-lg-2 col-sm-2 col-xs-3">
                                    <span class="menu-item-price">
                                        $ 45
                                    </span>
                                </div>
                            </div>

                            <div class="menu-group-item clearfix col-lg-6 col-md-6 col-sm-12">
                                <div class="col-md-3 col-lg-3 col-sm-3 hidden-xs">
                                    <img src="css/assets/images/item3.jpg" alt="" class="img-circle">
                                </div>
                                <div class="col-md-7 col-lg-7 col-sm-7 col-xs-9">
                                    <span class="menu-title">Lentil Soup</span>
                                    <span class="menu-descp">parmesan chicken broth, potato, bacon, Grana Padano, parsley</span>
                                </div>
                                <div class="col-md-2 col-lg-2 col-sm-2 col-xs-3">
                                    <span class="menu-item-price">
                                        $ 54
                                    </span>
                                </div>
                            </div>

                            <div class="menu-group-item clearfix col-lg-6 col-md-6 col-sm-12">
                                <div class="col-md-3 col-lg-3 col-sm-3 hidden-xs">
                                    <img src="css/assets/images/item4.jpg" alt="" class="img-circle">
                                </div>
                                <div class="col-md-7 col-lg-7 col-sm-7 col-xs-9">
                                    <span class="menu-title">Mixed Greens</span>
                                    <span class="menu-descp">red wine vinaigrette, pears, walnuts, goat cheese</span>
                                </div>
                                <div class="col-md-2 col-lg-2 col-sm-2 col-xs-3">
                                    <span class="menu-item-price">
                                        $ 23
                                    </span>
                                </div>
                            </div>

                            <div class="menu-group-item clearfix col-lg-6 col-md-6 col-sm-12">
                                <div class="col-md-3 col-lg-3 col-sm-3 hidden-xs">
                                    <img src="css/assets/images/item5.jpg" alt="" class="img-circle">
                                </div>
                                <div class="col-md-7 col-lg-7 col-sm-7 col-xs-9">
                                    <span class="menu-title">Chopped Salad</span>
                                    <span class="menu-descp">chickpea, green olive, pistachio, pepperoni, oregano, red wine vinaigrette, pecorino</span>
                                </div>
                                <div class="col-md-2 col-lg-2 col-sm-2 col-xs-3">
                                    <span class="menu-item-price">
                                        $ 46
                                    </span>
                                </div>
                            </div>

                            <div class="menu-group-item clearfix col-lg-6 col-md-6 col-sm-12">
                                <div class="col-md-3 col-lg-3 col-sm-3 hidden-xs">
                                    <img src="css/assets/images/item1.jpg" alt="" class="img-circle">
                                </div>
                                <div class="col-md-7 col-lg-7 col-sm-7 col-xs-9">
                                    <span class="menu-title">Orange Salad</span>
                                    <span class="menu-descp">green olives, red onions, tarragon, extra virgin olive oil</span>
                                </div>
                                <div class="col-md-2 col-lg-2 col-sm-2 col-xs-3">
                                    <span class="menu-item-price">
                                        $ 64
                                    </span>
                                </div>
                            </div>

                            <div class="menu-group-item clearfix col-lg-6 col-md-6 col-sm-12">
                                <div class="col-md-3 col-lg-3 col-sm-3 hidden-xs">
                                    <img src="css/assets/images/item2.jpg" alt="" class="img-circle">
                                </div>
                                <div class="col-md-7 col-lg-7 col-sm-7 col-xs-9">
                                    <span class="menu-title">Shaved Kale</span>
                                    <span class="menu-descp">creamy anchovy dressing, pecorino, bread crumbs</span>
                                </div>
                                <div class="col-md-2 col-lg-2 col-sm-2 col-xs-3">
                                    <span class="menu-item-price">
                                        $ 75
                                    </span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="tab-pane fade " id="pastas">
                    <div class="row">
                        <div class="menu-group">
                            <div class="menu-group-item clearfix col-lg-6 col-md-6 col-sm-12">
                                <div class="col-md-3 col-lg-3 col-sm-3 col-xs-3">
                                    <img src="css/assets/images/item1.jpg" alt="" class="img-circle">
                                </div>
                                <div class="col-md-7 col-lg-7 col-sm-7 col-xs-7">
                                    <span class="menu-title">Spaghetti Aglio e Olio</span>
                                    <span class="menu-descp">olive oil, garlic, chili, Grana Padano (add anchovy 2.00)</span>
                                </div>
                                <div class="col-md-2 col-lg-2 col-sm-2 col-xs-2">
                                    <span class="menu-item-price">
                                        $ 54
                                    </span>
                                </div>
                            </div>

                            <div class="menu-group-item clearfix col-lg-6 col-md-6 col-sm-12">
                                <div class="col-md-3 col-lg-3 col-sm-3 col-xs-3">
                                    <img src="css/assets/images/item2.jpg" alt="" class="img-circle">
                                </div>
                                <div class="col-md-7 col-lg-7 col-sm-7 col-xs-7">
                                    <span class="menu-title">Chitarra al Pomodoro</span>
                                    <span class="menu-descp">tomatoes, garlic, basil, Grana Padano</span>
                                </div>
                                <div class="col-md-2 col-lg-2 col-sm-2 col-xs-2">
                                    <span class="menu-item-price">
                                        $ 87
                                    </span>
                                </div>
                            </div>

                            <div class="menu-group-item clearfix col-lg-6 col-md-6 col-sm-12">
                                <div class="col-md-3 col-lg-3 col-sm-3 col-xs-3">
                                    <img src="css/assets/images/item3.jpg" alt="" class="img-circle">
                                </div>
                                <div class="col-md-7 col-lg-7 col-sm-7 col-xs-7">
                                    <span class="menu-title">Pappardelle</span>
                                    <span class="menu-descp">smoked pork, mascarpone, apples</span>
                                </div>
                                <div class="col-md-2 col-lg-2 col-sm-2 col-xs-2">
                                    <span class="menu-item-price">
                                        $ 45
                                    </span>
                                </div>
                            </div>

                            <div class="menu-group-item clearfix col-lg-6 col-md-6 col-sm-12">
                                <div class="col-md-3 col-lg-3 col-sm-3 col-xs-3">
                                    <img src="css/assets/images/item4.jpg" alt="" class="img-circle">
                                </div>
                                <div class="col-md-7 col-lg-7 col-sm-7 col-xs-7">
                                    <span class="menu-title">Pistachio Ravioli</span>
                                    <span class="menu-descp">pistachio, mint, lemon brown butter, Grana Padano</span>
                                </div>
                                <div class="col-md-2 col-lg-2 col-sm-2 col-xs-2">
                                    <span class="menu-item-price">
                                        $ 43
                                    </span>
                                </div>
                            </div>

                            <div class="menu-group-item clearfix col-lg-6 col-md-6 col-sm-12">
                                <div class="col-md-3 col-lg-3 col-sm-3 col-xs-3">
                                    <img src="css/assets/images/item5.jpg" alt="" class="img-circle">
                                </div>
                                <div class="col-md-7 col-lg-7 col-sm-7 col-xs-7">
                                    <span class="menu-title">Garganelli</span>
                                    <span class="menu-descp">braised beef, olives, gremolata, Grana Padano</span>
                                </div>
                                <div class="col-md-2 col-lg-2 col-sm-2 col-xs-2">
                                    <span class="menu-item-price">
                                        $ 43
                                    </span>
                                </div>
                            </div>

                            <div class="menu-group-item clearfix col-lg-6 col-md-6 col-sm-12">
                                <div class="col-md-3 col-lg-3 col-sm-3 col-xs-3">
                                    <img src="css/assets/images/item1.jpg" alt="" class="img-circle">
                                </div>
                                <div class="col-md-7 col-lg-7 col-sm-7 col-xs-7">
                                    <span class="menu-title">Italian Ramen</span>
                                    <span class="menu-descp">spaghettini, soft cooked egg, chicken, basil, Grana Padano</span>
                                </div>
                                <div class="col-md-2 col-lg-2 col-sm-2 col-xs-2">
                                    <span class="menu-item-price">
                                        $ 87
                                    </span>
                                </div>
                            </div>

                            <div class="menu-group-item clearfix col-lg-6 col-md-6 col-sm-12">
                                <div class="col-md-3 col-lg-3 col-sm-3 col-xs-3">
                                    <img src="css/assets/images/item2.jpg" alt="" class="img-circle">
                                </div>
                                <div class="col-md-7 col-lg-7 col-sm-7 col-xs-7">
                                    <span class="menu-title">Lasagna Bianca</span>
                                    <span class="menu-descp">béchamel, butternut squash, onion, fontina, brown butter, sage</span>
                                </div>
                                <div class="col-md-2 col-lg-2 col-sm-2 col-xs-2">
                                    <span class="menu-item-price">
                                        $ 78
                                    </span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="tab-pane fade " id="pizza">
                    <div class="row">
                        <div class="menu-group">
                            <div class="menu-group-item clearfix col-lg-6 col-md-6 col-sm-12">
                                <div class="col-md-3 col-lg-3 col-sm-3 col-xs-3">
                                    <img src="css/assets/images/item1.jpg" alt="" class="img-circle">
                                </div>
                                <div class="col-md-7 col-lg-7 col-sm-7 col-xs-7">
                                    <span class="menu-title">Margherita</span>
                                    <span class="menu-descp">tomato, mozzarella, basil</span>
                                </div>
                                <div class="col-md-2 col-lg-2 col-sm-2 col-xs-2">
                                    <span class="menu-item-price">
                                        $ 38
                                    </span>
                                </div>
                            </div>

                            <div class="menu-group-item clearfix col-lg-6 col-md-6 col-sm-12">
                                <div class="col-md-3 col-lg-3 col-sm-3 col-xs-3">
                                    <img src="css/assets/images/item2.jpg" alt="" class="img-circle">
                                </div>
                                <div class="col-md-7 col-lg-7 col-sm-7 col-xs-7">
                                    <span class="menu-title">Pastaria Marinara</span>
                                    <span class="menu-descp">tomato, onion, garlic, oregano, basil, pecorino (very minimal cheese)</span>
                                </div>
                                <div class="col-md-2 col-lg-2 col-sm-2 col-xs-2">
                                    <span class="menu-item-price">
                                        $ 48
                                    </span>
                                </div>
                            </div>

                            <div class="menu-group-item clearfix col-lg-6 col-md-6 col-sm-12">
                                <div class="col-md-3 col-lg-3 col-sm-3 col-xs-3">
                                    <img src="css/assets/images/item3.jpg" alt="" class="img-circle">
                                </div>
                                <div class="col-md-7 col-lg-7 col-sm-7 col-xs-7">
                                    <span class="menu-title">Pappardelle</span>
                                    <span class="menu-descp">smoked pork, mascarpone, apples</span>
                                </div>
                                <div class="col-md-2 col-lg-2 col-sm-2 col-xs-2">
                                    <span class="menu-item-price">
                                        $ 73
                                    </span>
                                </div>
                            </div>

                            <div class="menu-group-item clearfix col-lg-6 col-md-6 col-sm-12">
                                <div class="col-md-3 col-lg-3 col-sm-3 col-xs-3">
                                    <img src="css/assets/images/item4.jpg" alt="" class="img-circle">
                                </div>
                                <div class="col-md-7 col-lg-7 col-sm-7 col-xs-7">
                                    <span class="menu-title">Four Cheese</span>
                                    <span class="menu-descp">mozzarella, fontina, gorgonzola dolce, Grana Padano (no tomato)</span>
                                </div>
                                <div class="col-md-2 col-lg-2 col-sm-2 col-xs-2">
                                    <span class="menu-item-price">
                                        $ 48
                                    </span>
                                </div>
                            </div>

                            <div class="menu-group-item clearfix col-lg-6 col-md-6 col-sm-12">
                                <div class="col-md-3 col-lg-3 col-sm-3 col-xs-3">
                                    <img src="css/assets/images/item5.jpg" alt="" class="img-circle">
                                </div>
                                <div class="col-md-7 col-lg-7 col-sm-7 col-xs-7">
                                    <span class="menu-title">Fennel Salami</span>
                                    <span class="menu-descp">tomato, mozzarella</span>
                                </div>
                                <div class="col-md-2 col-lg-2 col-sm-2 col-xs-2">
                                    <span class="menu-item-price">
                                        $ 43
                                    </span>
                                </div>
                            </div>

                            <div class="menu-group-item clearfix col-lg-6 col-md-6 col-sm-12">
                                <div class="col-md-3 col-lg-3 col-sm-3 col-xs-3">
                                    <img src="css/assets/images/item1.jpg" alt="" class="img-circle">
                                </div>
                                <div class="col-md-7 col-lg-7 col-sm-7 col-xs-7">
                                    <span class="menu-title">The Holmes</span>
                                    <span class="menu-descp">tomato, mozzarella, mushroom, prosciutto, oregano, Grana Padano</span>
                                </div>
                                <div class="col-md-2 col-lg-2 col-sm-2 col-xs-2">
                                    <span class="menu-item-price">
                                        $ 75
                                    </span>
                                </div>
                            </div>

                            <div class="menu-group-item clearfix col-lg-6 col-md-6 col-sm-12">
                                <div class="col-md-3 col-lg-3 col-sm-3 col-xs-3">
                                    <img src="css/assets/images/item2.jpg" alt="" class="img-circle">
                                </div>
                                <div class="col-md-7 col-lg-7 col-sm-7 col-xs-7">
                                    <span class="menu-title">Sweet Potato</span>
                                    <span class="menu-descp">béchamel, fontina, red onion, lemon zest, herbs</span>
                                </div>
                                <div class="col-md-2 col-lg-2 col-sm-2 col-xs-2">
                                    <span class="menu-item-price">
                                        $ 38
                                    </span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="tab-pane fade " id="entrees">
                    <div class="row">
                        <div class="menu-group">
                            <div class="menu-group-item clearfix col-lg-6 col-md-6 col-sm-12">
                                <div class="col-md-3 col-lg-3 col-sm-3 col-xs-3">
                                    <img src="css/assets/images/item1.jpg" alt="" class="img-circle">
                                </div>
                                <div class="col-md-7 col-lg-7 col-sm-7 col-xs-7">
                                    <span class="menu-title">Wood Oven Roasted Chicken</span>
                                    <span class="menu-descp">roasted cauliflower, potato, lemon,caper, parsley</span>
                                </div>
                                <div class="col-md-2 col-lg-2 col-sm-2 col-xs-2">
                                    <span class="menu-item-price">
                                        $ 70
                                    </span>
                                </div>
                            </div>

                            <div class="menu-group-item clearfix col-lg-6 col-md-6 col-sm-12">
                                <div class="col-md-3 col-lg-3 col-sm-3 col-xs-3">
                                    <img src="css/assets/images/item2.jpg" alt="" class="img-circle">
                                </div>
                                <div class="col-md-7 col-lg-7 col-sm-7 col-xs-7">
                                    <span class="menu-title">Red Wine Braised Beef</span>
                                    <span class="menu-descp">creamy corn polenta, roasted baby carrots, parsley</span>
                                </div>
                                <div class="col-md-2 col-lg-2 col-sm-2 col-xs-2">
                                    <span class="menu-item-price">
                                        $ 30
                                    </span>
                                </div>
                            </div>

                            <div class="menu-group-item clearfix col-lg-6 col-md-6 col-sm-12">
                                <div class="col-md-3 col-lg-3 col-sm-3 col-xs-3">
                                    <img src="css/assets/images/item3.jpg" alt="" class="img-circle">
                                </div>
                                <div class="col-md-7 col-lg-7 col-sm-7 col-xs-7">
                                    <span class="menu-title">Wood Oven Roasted Salmon</span>
                                    <span class="menu-descp">fennel confit, farro, zucchini, calabrian chili, preserved lemon</span>
                                </div>
                                <div class="col-md-2 col-lg-2 col-sm-2 col-xs-2">
                                    <span class="menu-item-price">
                                        $ 49
                                    </span>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>
                <div class="tab-pane" id="desserts">
                    <div class="row">
                        <div class="menu-group">
                            <div class="menu-group-item clearfix col-lg-6 col-md-6 col-sm-12">
                                <div class="col-md-3 col-lg-3 col-sm-3 col-xs-3">
                                    <img src="css/assets/images/item1.jpg" alt="" class="img-circle">
                                </div>
                                <div class="col-md-7 col-lg-7 col-sm-7 col-xs-7">
                                    <span class="menu-title">Mama Rodolico’s Tiramisu</span>
                                    <span class="menu-descp">roasted cauliflower, potato, lemon,caper, parsley</span>
                                </div>
                                <div class="col-md-2 col-lg-2 col-sm-2 col-xs-2">
                                    <span class="menu-item-price">
                                        $ 53
                                    </span>
                                </div>
                            </div>

                            <div class="menu-group-item clearfix col-lg-6 col-md-6 col-sm-12">
                                <div class="col-md-3 col-lg-3 col-sm-3 col-xs-3">
                                    <img src="css/assets/images/item2.jpg" alt="" class="img-circle">
                                </div>
                                <div class="col-md-7 col-lg-7 col-sm-7 col-xs-7">
                                    <span class="menu-title">Dark Chocolate Tart</span>
                                    <span class="menu-descp">whipped cream and candied hazelnuts</span>
                                </div>
                                <div class="col-md-2 col-lg-2 col-sm-2 col-xs-2">
                                    <span class="menu-item-price">
                                        $ 37
                                    </span>
                                </div>
                            </div>

                            <div class="menu-group-item clearfix col-lg-6 col-md-6 col-sm-12">
                                <div class="col-md-3 col-lg-3 col-sm-3 col-xs-3">
                                    <img src="css/assets/images/item3.jpg" alt="" class="img-circle">
                                </div>
                                <div class="col-md-7 col-lg-7 col-sm-7 col-xs-7">
                                    <span class="menu-title">Yoghurt Panna Cotta</span>
                                    <span class="menu-descp">cherry compote</span>
                                </div>
                                <div class="col-md-2 col-lg-2 col-sm-2 col-xs-2">
                                    <span class="menu-item-price">
                                        $ 73
                                    </span>
                                </div>
                            </div>

                            <div class="menu-group-item clearfix col-lg-6 col-md-6 col-sm-12">
                                <div class="col-md-3 col-lg-3 col-sm-3 col-xs-3">
                                    <img src="css/assets/images/item3.jpg" alt="" class="img-circle">
                                </div>
                                <div class="col-md-7 col-lg-7 col-sm-7 col-xs-7">
                                    <span class="menu-title">Cannoli</span>
                                    <span class="menu-descp">pastry cream with strawberry balsamic and salted pistachios</span>
                                </div>
                                <div class="col-md-2 col-lg-2 col-sm-2 col-xs-2">
                                    <span class="menu-item-price">
                                        $ 48
                                    </span>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section> <!-- Our Menu section ends -->
<!-- Javascripts
–––––––––––––––––––––––––––––––––––––––––––––––––– -->
<!-- Smooth one page scroll -->
<script src="js/jquery-one-page-nav/jquery.nav.js"></script>

<!-- Jquery library -->
<script src="js/vendor/jquery-1.11.2.min.js"></script>

<!-- Bootstrap (Framework) -->
<script src="js/vendor/bootstrap.min.js"></script>

<!-- Prasto plugins -->
<script src="js/main.js"></script>
