<div class="tab-content">
    <div class="tab-pane active fade in" id="appetizers" ng-show="showMe">
        <div class="row">
            <div class="menu-group">
                <div class="menu-group-item clearfix col-lg-6 col-md-6 col-sm-12">
                    <div class="col-md-3 col-lg-3 col-sm-3 hidden-xs">
                        <img src="css/assets/images/item1.jpg" alt="" class="img-circle">
                    </div>
                    <div class="col-md-7 col-lg-7 col-sm-7 col-xs-9">
                        <span class="menu-title">Nachos</span>
                        <span class="menu-descp">mozzarella, Grana Padano, herb aioli, marinara</span>
                    </div>
                    <div class="col-md-2 col-lg-2 col-sm-2 col-xs-3">
                        <span class="menu-item-price">
                            $ 34
                        </span>
                    </div>
                </div>

                <div class="menu-group-item clearfix col-lg-6 col-md-6 col-sm-12">
                    <div class="col-md-3 col-lg-3 col-sm-3 hidden-xs">
                        <img src="css/assets/images/item2.jpg" alt="" class="img-circle">
                    </div>
                    <div class="col-md-7 col-lg-7 col-sm-7 col-xs-9">
                        <span class="menu-title">Tortilla Soup</span>
                        <span class="menu-descp">cranberry beans, vegetables, Grana Padano</span>
                    </div>
                    <div class="col-md-2 col-lg-2 col-sm-2 col-xs-3">
                        <span class="menu-item-price">
                            $ 45
                        </span>
                    </div>
                </div>

                <div class="menu-group-item clearfix col-lg-6 col-md-6 col-sm-12">
                    <div class="col-md-3 col-lg-3 col-sm-3 hidden-xs">
                        <img src="css/assets/images/item3.jpg" alt="" class="img-circle">
                    </div>
                    <div class="col-md-7 col-lg-7 col-sm-7 col-xs-9">
                        <span class="menu-title">House Guacamole</span>
                        <span class="menu-descp">parmesan chicken broth, potato, bacon, Grana Padano, parsley</span>
                    </div>
                    <div class="col-md-2 col-lg-2 col-sm-2 col-xs-3">
                        <span class="menu-item-price">
                            $ 54
                        </span>
                    </div>
                </div>

                <div class="menu-group-item clearfix col-lg-6 col-md-6 col-sm-12">
                    <div class="col-md-3 col-lg-3 col-sm-3 hidden-xs">
                        <img src="css/assets/images/item4.jpg" alt="" class="img-circle">
                    </div>
                    <div class="col-md-7 col-lg-7 col-sm-7 col-xs-9">
                        <span class="menu-title">Mixed Greens</span>
                        <span class="menu-descp">red wine vinaigrette, pears, walnuts, goat cheese</span>
                    </div>
                    <div class="col-md-2 col-lg-2 col-sm-2 col-xs-3">
                        <span class="menu-item-price">
                            $ 23
                        </span>
                    </div>
                </div>

                <div class="menu-group-item clearfix col-lg-6 col-md-6 col-sm-12">
                    <div class="col-md-3 col-lg-3 col-sm-3 hidden-xs">
                        <img src="css/assets/images/item5.jpg" alt="" class="img-circle">
                    </div>
                    <div class="col-md-7 col-lg-7 col-sm-7 col-xs-9">
                        <span class="menu-title">Chopped Salad</span>
                        <span class="menu-descp">chickpea, green olive, pistachio, pepperoni, oregano, red wine vinaigrette, pecorino</span>
                    </div>
                    <div class="col-md-2 col-lg-2 col-sm-2 col-xs-3">
                        <span class="menu-item-price">
                            $ 46
                        </span>
                    </div>
                </div>

                <div class="menu-group-item clearfix col-lg-6 col-md-6 col-sm-12">
                    <div class="col-md-3 col-lg-3 col-sm-3 hidden-xs">
                        <img src="css/assets/images/item1.jpg" alt="" class="img-circle">
                    </div>
                    <div class="col-md-7 col-lg-7 col-sm-7 col-xs-9">
                        <span class="menu-title">Orange Salad</span>
                        <span class="menu-descp">green olives, red onions, tarragon, extra virgin olive oil</span>
                    </div>
                    <div class="col-md-2 col-lg-2 col-sm-2 col-xs-3">
                        <span class="menu-item-price">
                            $ 64
                        </span>
                    </div>
                </div>

                <div class="menu-group-item clearfix col-lg-6 col-md-6 col-sm-12">
                    <div class="col-md-3 col-lg-3 col-sm-3 hidden-xs">
                        <img src="css/assets/images/item2.jpg" alt="" class="img-circle">
                    </div>
                    <div class="col-md-7 col-lg-7 col-sm-7 col-xs-9">
                        <span class="menu-title">Shaved Kale</span>
                        <span class="menu-descp">creamy anchovy dressing, pecorino, bread crumbs</span>
                    </div>
                    <div class="col-md-2 col-lg-2 col-sm-2 col-xs-3">
                        <span class="menu-item-price">
                            $ 75
                        </span>
                    </div>
                </div>  
            </div> 
        </div>
    </div>
</div>