<div class="tab-pane" id="desserts" ng-show="showMe">
    <div class="row">
        <div class="menu-group">
            <div class="menu-group-item clearfix col-lg-6 col-md-6 col-sm-12">
                <div class="col-md-3 col-lg-3 col-sm-3 col-xs-3">
                    <img src="css/assets/images/item1.jpg" alt="" class="img-circle">
                </div>
                <div class="col-md-7 col-lg-7 col-sm-7 col-xs-7">
                    <span class="menu-title">Mama Rodolico’s Tiramisu</span>
                    <span class="menu-descp">roasted cauliflower, potato, lemon,caper, parsley</span>
                </div>
                <div class="col-md-2 col-lg-2 col-sm-2 col-xs-2">
                    <span class="menu-item-price">
                        $ 53
                    </span>
                </div>
            </div>

            <div class="menu-group-item clearfix col-lg-6 col-md-6 col-sm-12">
                <div class="col-md-3 col-lg-3 col-sm-3 col-xs-3">
                    <img src="css/assets/images/item2.jpg" alt="" class="img-circle">
                </div>
                <div class="col-md-7 col-lg-7 col-sm-7 col-xs-7">
                    <span class="menu-title">Dark Chocolate Tart</span>
                    <span class="menu-descp">whipped cream and candied hazelnuts</span>
                </div>
                <div class="col-md-2 col-lg-2 col-sm-2 col-xs-2">
                    <span class="menu-item-price">
                        $ 37
                    </span>
                </div>
            </div>

            <div class="menu-group-item clearfix col-lg-6 col-md-6 col-sm-12">
                <div class="col-md-3 col-lg-3 col-sm-3 col-xs-3">
                    <img src="css/assets/images/item3.jpg" alt="" class="img-circle">
                </div>
                <div class="col-md-7 col-lg-7 col-sm-7 col-xs-7">
                    <span class="menu-title">Yoghurt Panna Cotta</span>
                    <span class="menu-descp">cherry compote</span>
                </div>
                <div class="col-md-2 col-lg-2 col-sm-2 col-xs-2">
                    <span class="menu-item-price">
                        $ 73
                    </span>
                </div>
            </div>

            <div class="menu-group-item clearfix col-lg-6 col-md-6 col-sm-12">
                <div class="col-md-3 col-lg-3 col-sm-3 col-xs-3">
                    <img src="css/assets/images/item3.jpg" alt="" class="img-circle">
                </div>
                <div class="col-md-7 col-lg-7 col-sm-7 col-xs-7">
                    <span class="menu-title">Cannoli</span>
                    <span class="menu-descp">pastry cream with strawberry balsamic and salted pistachios</span>
                </div>
                <div class="col-md-2 col-lg-2 col-sm-2 col-xs-2">
                    <span class="menu-item-price">
                        $ 48
                    </span>
                </div>
            </div>
        </div>
    </div>
</div>
