<div class="tab-pane fade " id="entrees" ng-show="showMe">
    <div class="row">
        <div class="menu-group">
            <div class="menu-group-item clearfix col-lg-6 col-md-6 col-sm-12">
                <div class="col-md-3 col-lg-3 col-sm-3 col-xs-3">
                    <img src="css/assets/images/item1.jpg" alt="" class="img-circle">
                </div>
                <div class="col-md-7 col-lg-7 col-sm-7 col-xs-7">
                    <span class="menu-title">Wood Oven Roasted Chicken</span>
                    <span class="menu-descp">roasted cauliflower, potato, lemon,caper, parsley</span>
                </div>
                <div class="col-md-2 col-lg-2 col-sm-2 col-xs-2">
                    <span class="menu-item-price">
                        $ 70
                    </span>
                </div>
            </div>

            <div class="menu-group-item clearfix col-lg-6 col-md-6 col-sm-12">
                <div class="col-md-3 col-lg-3 col-sm-3 col-xs-3">
                    <img src="css/assets/images/item2.jpg" alt="" class="img-circle">
                </div>
                <div class="col-md-7 col-lg-7 col-sm-7 col-xs-7">
                    <span class="menu-title">Red Wine Braised Beef</span>
                    <span class="menu-descp">creamy corn polenta, roasted baby carrots, parsley</span>
                </div>
                <div class="col-md-2 col-lg-2 col-sm-2 col-xs-2">
                    <span class="menu-item-price">
                        $ 30
                    </span>
                </div>
            </div>

            <div class="menu-group-item clearfix col-lg-6 col-md-6 col-sm-12">
                <div class="col-md-3 col-lg-3 col-sm-3 col-xs-3">
                    <img src="css/assets/images/item3.jpg" alt="" class="img-circle">
                </div>
                <div class="col-md-7 col-lg-7 col-sm-7 col-xs-7">
                    <span class="menu-title">Wood Oven Roasted Salmon</span>
                    <span class="menu-descp">fennel confit, farro, zucchini, calabrian chili, preserved lemon</span>
                </div>
                <div class="col-md-2 col-lg-2 col-sm-2 col-xs-2">
                    <span class="menu-item-price">
                        $ 49
                    </span>
                </div>
            </div>

        </div>
    </div>
</div>