<div class="tab-pane fade " id="pastas" ng-show="showMe">
    <div class="row">
        <div class="menu-group">
            <div class="menu-group-item clearfix col-lg-6 col-md-6 col-sm-12">
                <div class="col-md-3 col-lg-3 col-sm-3 col-xs-3">
                    <img src="css/assets/images/item1.jpg" alt="" class="img-circle">
                </div>
                <div class="col-md-7 col-lg-7 col-sm-7 col-xs-7">
                    <span class="menu-title">Spaghetti Aglio e Olio</span>
                    <span class="menu-descp">olive oil, garlic, chili, Grana Padano (add anchovy 2.00)</span>
                </div>
                <div class="col-md-2 col-lg-2 col-sm-2 col-xs-2">
                    <span class="menu-item-price">
                        $ 54
                    </span>
                </div>
            </div>

            <div class="menu-group-item clearfix col-lg-6 col-md-6 col-sm-12">
                <div class="col-md-3 col-lg-3 col-sm-3 col-xs-3">
                    <img src="css/assets/images/item2.jpg" alt="" class="img-circle">
                </div>
                <div class="col-md-7 col-lg-7 col-sm-7 col-xs-7">
                    <span class="menu-title">Chitarra al Pomodoro</span>
                    <span class="menu-descp">tomatoes, garlic, basil, Grana Padano</span>
                </div>
                <div class="col-md-2 col-lg-2 col-sm-2 col-xs-2">
                    <span class="menu-item-price">
                        $ 87
                    </span>
                </div>
            </div>

            <div class="menu-group-item clearfix col-lg-6 col-md-6 col-sm-12">
                <div class="col-md-3 col-lg-3 col-sm-3 col-xs-3">
                    <img src="css/assets/images/item3.jpg" alt="" class="img-circle">
                </div>
                <div class="col-md-7 col-lg-7 col-sm-7 col-xs-7">
                    <span class="menu-title">Pappardelle</span>
                    <span class="menu-descp">smoked pork, mascarpone, apples</span>
                </div>
                <div class="col-md-2 col-lg-2 col-sm-2 col-xs-2">
                    <span class="menu-item-price">
                        $ 45
                    </span>
                </div>
            </div>

            <div class="menu-group-item clearfix col-lg-6 col-md-6 col-sm-12">
                <div class="col-md-3 col-lg-3 col-sm-3 col-xs-3">
                    <img src="css/assets/images/item4.jpg" alt="" class="img-circle">
                </div>
                <div class="col-md-7 col-lg-7 col-sm-7 col-xs-7">
                    <span class="menu-title">Pistachio Ravioli</span>
                    <span class="menu-descp">pistachio, mint, lemon brown butter, Grana Padano</span>
                </div>
                <div class="col-md-2 col-lg-2 col-sm-2 col-xs-2">
                    <span class="menu-item-price">
                        $ 43
                    </span>
                </div>
            </div>

            <div class="menu-group-item clearfix col-lg-6 col-md-6 col-sm-12">
                <div class="col-md-3 col-lg-3 col-sm-3 col-xs-3">
                    <img src="css/assets/images/item5.jpg" alt="" class="img-circle">
                </div>
                <div class="col-md-7 col-lg-7 col-sm-7 col-xs-7">
                    <span class="menu-title">Garganelli</span>
                    <span class="menu-descp">braised beef, olives, gremolata, Grana Padano</span>
                </div>
                <div class="col-md-2 col-lg-2 col-sm-2 col-xs-2">
                    <span class="menu-item-price">
                        $ 43
                    </span>
                </div>
            </div>

            <div class="menu-group-item clearfix col-lg-6 col-md-6 col-sm-12">
                <div class="col-md-3 col-lg-3 col-sm-3 col-xs-3">
                    <img src="css/assets/images/item1.jpg" alt="" class="img-circle">
                </div>
                <div class="col-md-7 col-lg-7 col-sm-7 col-xs-7">
                    <span class="menu-title">Italian Ramen</span>
                    <span class="menu-descp">spaghettini, soft cooked egg, chicken, basil, Grana Padano</span>
                </div>
                <div class="col-md-2 col-lg-2 col-sm-2 col-xs-2">
                    <span class="menu-item-price">
                        $ 87
                    </span>
                </div>
            </div>

            <div class="menu-group-item clearfix col-lg-6 col-md-6 col-sm-12">
                <div class="col-md-3 col-lg-3 col-sm-3 col-xs-3">
                    <img src="css/assets/images/item2.jpg" alt="" class="img-circle">
                </div>
                <div class="col-md-7 col-lg-7 col-sm-7 col-xs-7">
                    <span class="menu-title">Lasagna Bianca</span>
                    <span class="menu-descp">béchamel, butternut squash, onion, fontina, brown butter, sage
                    </span>
                </div>
                <div class="col-md-2 col-lg-2 col-sm-2 col-xs-2">
                    <span class="menu-item-price">
                        $ 78
                    </span>
                </div>
            </div>
        </div>
    </div>
</div>